<div class="consultar-clima">
    <form *ngIf="ciudades" class="formConsultar">
        <select name="" id="" [formControl]="formCiudad">
            <option disabled value=null>Seleccione la ciudad</option>
            <option *ngFor="let ciudad of ciudades">{{ciudad.ciudad}}</option>
        </select>

        <span>
            <input type="checkbox" id="historial" name="historial" [formControl]="checkHistorial">
            <label for="historial">Incluir histórico</label>
        </span>

        <span *ngIf="checkHistorial.value">
            <label for="cantFilas">Registros a consultar</label>
            <input type="number" min="1" name="cantFilas" id="cantFilas" [formControl]="cantFilas">
        </span>

        <button class="btn btn-primary" type="button"
            (click)="getClima(formCiudad.value, checkHistorial.value, cantFilas.value)">Consultar</button>
    </form>
    <div *ngIf="isLoading">
        <img class="loader" src="assets/img/loading.svg">
    </div>
    <div class="panelInformacion" *ngIf="clima">

        <div> <strong>Ciudad: </strong>{{clima.name}}, {{clima.sys.country}}</div>
        <div>
            <span>
                <strong>Temperatura: </strong>{{ clima.main.temp }}
            </span>
            <span class="ml-2">
                <strong>Sensación térmica: </strong>{{ clima.main.feels_like }}
            </span>
        </div>
    </div>

    <table class="table table-striped" *ngIf="historial">
        <tbody>
            <tr>
                <th>País</th>
                <th>Ciudad</th>
                <th>Temperatura</th>
                <th>Sensación térmica</th>
            </tr>
            <tr *ngFor=" let fila of historial">
                <td>{{ fila.registro.sys.country}}</td>
                <td>{{ fila.registro.name}}</td>
                <td>{{ fila.registro.main.temp}}</td>
                <td>{{ fila.registro.main.feels_like }}</td>
            </tr>
        </tbody>
    </table>
</div>