.consultar-clima{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 30px;
    margin: 10px;
    width: 800px;
}

.panelInformacion{
    margin-bottom:10px;
    border: 1px solid lightgray;
    padding: 20px;
}

input{
    margin-right: 5px;
}

input[type="number"] {
    width: 40px;
    margin-left: 10px;
  }