/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
      justify-content: center;
      margin: 15px;
  }

  .loader{
    margin:auto;
    display: block;
  }

  button {
    margin-bottom: 5px;
    margin-top:5px
  }

  .formConsultar{
    display: flex;
    justify-content: flex-start;   
     align-items: baseline;
}

.formConsultar > *{
  margin-right: 20px;
  }